body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #04068f;
    color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.contenedor-juego {
    text-align: center;
}

h1 {
    margin-bottom: 5px;
    color: #ac9300;
}

p {
    color: #ffffff;
    margin-bottom: 20px;
}

/*Canvas */
canvas {
    background-color: #f8fafc;
    border: 4px solid #d9d505;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}